* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Figtree', sans-serif;
    margin-left: 100px;
}

body {
    background-color: rgba(0, 0, 255, 0.51);
}

ul, li {
    list-style-type: none;
    margin-left: 100px;
}

.box {
    margin-left: 100px;
}

.box.pictures img {
    width: 80px;
    height: 80px;
}